{
    "extends": "eslint:recommended",
    "env": {
        "browser": true
    },
    "rules": {
        "no-irregular-whitespace": 0,
        "no-mixed-spaces-and-tabs": 0
    },
    "parserOptions": {
      "ecmaVersion": 2015,
      "sourceType": "module"
    }
}
