#vueCtkDateTimePicker, html, body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#vueCtkDateTimePicker {
  width: 80%;
  margin: 0 auto;
}
*, *::before, *::after {
  box-sizing: border-box;
}
